body{
  	background-color:#fff;
  	font-family: "Open Sans",sans-serif;
  	margin: 0;
  	/*position:relative;*/
  	overflow: hidden;
}
  		
h1{
  	font-weight: normal;
}
  		
h2{
  	font-weight: normal;
}

.button{
	position: absolute;
	text-align:center;
}

.modaloptions{
	position:absolute;
	background: #4d4d4d;
	padding: 10px;
	
}

.modalinfo{
	position:absolute;
	left:0px;
	padding: 10px;
}

.modal-body{
	padding: 0px;
}

span.optionsquestion{
	padding: 0px;
	margin: 0px;
	color: #fff;
}

.form-control{
	box-shadow:none;
}